- form_for @comment do |f|
  = f.error_messages
  %p
    = f.label :inspection_form_id
    %br
    = f.text_field :inspection_form_id
  %p
    = f.label :creator_id
    %br
    = f.text_field :creator_id
  %p
    = f.label :info
    %br
    = f.text_field :info
  %p
    = f.submit "Submit"
