- title "#{@rbuilder.full_name}: Edit Final Inspection"

= render :partial => 'form'

%br
PDF Report at this URL:
%br
= "#{root_url}reports/pdf/#{@final_inspection.slug}.pdf"

%br
%br
= link_to "Back", :back

